body {
    transition: all 1s;
    
    
}
.header {
  font-size: 120px;
  font-family: Arial, Helvetica, sans-serif;
}

.path2 {
    stroke-dasharray: 4000;
  /*   stroke-dashoffset: 800; */
    animation: draw1 2s linear alternate;
  }
  
  @keyframes draw1 {
    from {
      stroke-dashoffset: 4000;
    }
    to {
      stroke-dashoffset: 4000;
    }
  }
  h1 {
    font-size: 20vw;
}

.title {
    position: absolute;
    width: 100%;
    top: 20vh; right:0;
    overflow: hidden;
    pointer-events: none;
    
    z-index: 10;
}

@keyframes marquee {
    0%   { transform: translate(0%, 0); }
    100% { transform: translate(-141.5vw, 0); }
}



   
  
          div { 
              
              font-size: 120px;
  
              font-family: Arial, Helvetica, sans-serif;
              
              display: inline;
              padding-left: 3px; /* (16px * 1.20) * 0.15 */
              padding-right: 3px;
          }
          a {
         
          text-decoration: none;
          vertical-align: middle;
          position: relative;
      
          
          
          }
          .href {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
              
              position: absolute;
  
          }
      p {
          font-size: 120px;
          font-family: Arial, Helvetica, sans-serif;
          display: inline;
      }
      .journey {
  
    font-size: 30px;
    display: block;
    text-align: justify;
    
    
    color: black;
    position: absolute;
  
    
    
  /*   width: 100px; */
    
    
  }
  container {
    position: relative;
  }
  
  .hidden {
    display: none;
  }
  a:hover circle { fill: transparent; stroke: black; stroke-width: 1px; filter: blur(20px); } a:hover text { fill: black;}

  .text {
    font-size: 120px;
    display: block;
    text-align: left;
    padding-top: 50%;
    color: black;
    position: absolute;
  }
  span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    display: block;
    text-align: right;
    padding-top: 50%;
    color: black;
    
  }
         
      