div {
   
    
    position: relative;
    
    font-family: Arial, Helvetica, sans-serif;
   
    

    
  
  
}
button {
 top:50%;   
height: 15vw;
width: 15vw;





}
.play {
    background-color: rgb(255, 0, 234);
    border-radius: 50%;
    border-color: transparent;
    
    
    
    
}
.pause {
    background-color:yellow;
    border-color: transparent;
    font-size: 100px;
    border-radius: 30px;
    
}
ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  ul {
    -webkit-columns: 2 100px;
    -moz-columns: 2 100px;
         columns: 2 100px;
  }
#audioPlayer{
	width: 600px;
	height: 60px;
	margin: 50px auto auto auto;
  border: solid;
  background: none;
}

        #playlist{
            list-style: none;
            list-style-position: outside;
            float: left;
            list-style-type: none;
            padding-left: 5px;
        

        }
        #playlist li a{
            color: black;
            text-decoration:none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 6vw;
            
        }
        #playlist .current-song a{
           color: black;
           
           text-underline-position: below;
           font-style: italic;
        }